<?xml version="1.0"?>

<model>
  <name>amalia_rover_turret</name>
  <version>0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mattia Marenco</name>
    <email>matiapascal@gmail.com</email>
  </author>

  <description>
    Team Diana AMALIA rover turret
  </description>
</model>
