<?xml version="1.0"?>

<model>
  <name>moon_terrain</name>
  <version>0.1</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Vincenzo Giovanni Comito</name>
    <email>clynamen@gmail.com</email>
  </author>

  <description>
    Team Diana AMALIA moon terrain
  </description>
</model>
