<?xml version="1.0" ?>
<sdf version="1.5" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="./ramp1.xacro" />
  <model name="ramp-single-low">
    <xacro:ramp1 ox="0" oy="0" oz="0" rx="0" ry="0" rz="0" sx="0.5" sy="0.5" sz="0.4" suffix=''/>
    <pose>0 0 0 0 0 0</pose>
  </model>
</sdf>

