<?xml version="1.0" ?>
<robot name="ramp1" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="pi" value="3.1415926" />

  <xacro:macro name="ramp1" params="ox oy oz rx ry rz sx sy sz suffix">
    <link name="ramp1_link_${suffix}">
        <pose>${ox} ${oy} ${oz} ${rx} ${ry} ${rz}</pose>
      <inertial>
        <!--<pose>${ox} ${oy} ${oz} ${rx} ${ry} ${rz}</pose>-->
        <pose>${rx/5*rz} 0 0 0 0 0</pose>
        <mass>1000</mass>
      </inertial>
      <collision name="ramp1_collision_${suffix}">
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://ramp-single-low/meshes/ramp1.dae</uri>
            <scale>${sx} ${sy} ${sz}</scale>
          </mesh>
        </geometry>
      </collision>
      <visual name="ramp1_visual_${suffix}">
        <pose>0 0 0 0 0 0</pose>
        <geometry>
          <mesh>
            <uri>model://ramp-single-low/meshes/ramp1.dae</uri>
            <scale>${sx} ${sy} ${sz}</scale>
          </mesh>
        </geometry>
      </visual>
      <self_collide>0</self_collide>
      <kinematic>0</kinematic>
      <gravity>1</gravity>
    </link>
  </xacro:macro>
</robot> 
