<?xml version="1.0" ?>
<sdf version="1.5" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="./rover_amalia_leg.xacro" />
  <model name="rover_amalia_leg">
    <pose>0 0 0 0 0 0</pose>
    <xacro:rover_amalia_leg Ox="0" Oy="0" Oz="0" prefix="f_r" reflect_xz="1" reflect_yz="1" bar_length="0.2" bar_radius="0.008" wheel_radius="0.08" wheel_length="0.07" model_root="rover_amalia_leg"/>
  </model>
</sdf>

