<?xml version="1.0" ?>
<sdf version="1.5" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="../ramp-single-low/ramp1.xacro" />
  <model name="ramp-double-low">
    <xacro:ramp1 ox="-0.51" oy="0" oz="0" rx="0" ry="0" rz="3.1415" sx="0.5" sy="0.2" sz="0.1" suffix='b'/>
    <xacro:ramp1 ox="0.51" oy="0" oz="0" rx="0" ry="0" rz="0" sx="0.5" sy="0.2" sz="0.1" suffix='f'/>
    <pose>0 0 0 0 0 0</pose>
  </model>
</sdf>

