<launch>
  <arg name="gui" default="true" />
  <param name="robot_description" command="cat ./model.xml" />
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam param="source_list">[/ptu/state, joint_states, /motore_1_controller/joint_states, /motore_2_controller/joint_states, /motore_3_controller/joint_states, /motore_4_controller/joint_states]</rosparam>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="use_gui" value="$(arg gui)"/>
    <remap from="robot_description" to="robot_description" />
  </node>
</launch>
