<?xml version="1.0" ?>
<sdf version="1.5" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="./rover_amalia_turret_inertials.xacro" />
  <model name="rover_amalia_turret_inertials">
    <xacro:rover_amalia_turret_inertials Ox="0" Oy="0" Oz="0" bar_height="0.2"/>
    <pose>0 0 0 0 0 0</pose>
  </model>
</sdf>

